@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: #FFF;
	width: 95%;

}

body {
	margin: auto;
	font-size: 16px;

}

main {
	clear:both;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-weight:700;
	font-size: 4em;
	text-align: center;
	color: #FFF;	
	padding-top: 1.5em;

}

h2 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 2em;
	color: #FFF;
	padding: 1.8em 0 2em;

}

h3 {
	font-family: 'Raleway', sans-serif;
/*	font-family: 'Bitter', serif;
*/	font-size: 1.5em;
	text-align: center;
	color:#C9D6FF;
	padding:2em 0 1em 0;
}

h4{
	font-family: 'Raleway', sans-serif;
	font-weight:700;
	font-size: 1.3em;
	text-align: center;
	color:#C9D6FF;
	padding-top: 2em;
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	color: #FFF;
	margin-bottom: 0;
	text-align: center;
	width:50em;
	line-height: 150%;
}


nav {
	list-style: none;
	font-size: .8em;
	margin: 0;
    text-transform: uppercase;
    padding: 2em 0;
    float: right;

}

nav a {
	font-family: 'Raleway', sans-serif;
	color:#C9D6FF;
	display: inline-block;
	text-decoration: none;
	font-size: 1.2em;
	margin: 10px;
	
}

a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #C9D6FF
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}


ul {
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
	color: #FFF;
	float:right;
	margin-right: 5%;
    line-height: 1.5em;
    list-style:inherit;
    padding-top: 5%;
}

footer {
	font-family: 'Raleway', sans-serif;
	font-size: .5em;
	margin: auto;
	padding: 1em;

}

footer p{
	margin: auto;
}


.wrapper {
	width: 95%;
	margin: auto;
	background-color: #13032D;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


.col-3 {
	width: 29%;
    margin: 2% 2% 5%;
	float: left;
}

.col-3 p{
	width:100%;
	font-weight: 400;

}

.col-2{
	float:left;
	width:50%;

}


#header-image {
	background:url("../images/seattle.jpeg") center fixed;
	background-size: cover;
	border: white solid .1em;
}

#logo {
	width: 9%;
    float: left;
    padding: 1em;
    margin-left:2%;
}

#top-half{
	padding-bottom: 3%;
    border-bottom: white solid .1em;
	}

#bottom-half {
	padding-top:5%;
}


#phone {
	border: .2em black solid;
	width: 34%;
	position: absolute;
	margin-left: 5%
}

#guy_scrolling {
	position: relative;
	border: 3px black solid;
	width: 65%;
	margin: 34% 45%;
}

___________________ media queries__________________

@media only screen and (max-width: 1210px){


.col-3 {
	width: 46%;
}

a:last-of-type .col-3 {
	float: none;
	width: 80%;
	margin: 2% auto 5%;
	clear: both;
}
.col-2 {
	float: none;
}

}

@media only screen and (max-width: 850px){


header{
	width:100%;
}


nav {
	float:none;

}

ul{
	float:none;
	list-style: none;
	text-align: center;
}

.wrapper{
	width:95%;
}
.col-2{
	float:none;
	width:100%;
}

#logo {
	float:none;
	width: 20%;
	margin: 0 auto;
	text-align: center;
}

#guy_scrolling {
	width:33%;
	margin:17%;
}


/*@media screen only and (min-width: 500px

