@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: #FFED74;
	width: 85%;
    margin: auto;

}

body {
	margin: auto;
	font-size: 16px;

}

main {
	clear:both;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-weight:700;
	font-size: 3em;
	text-align: center;
	color: #FFF;	
	padding-top: 3em;

}

h2 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 2em;
	color: #7F7371;
	padding: .8em 0;

}

h3 {
	font-family: 'Raleway', sans-serif;
/*	font-family: 'Bitter', serif;
*/	font-size: 1.5em;
	text-align: center;
	color:#C9D6FF;
	padding:2em 0 1em 0;
}

h4{
	font-family: 'Raleway', sans-serif;
/*	font-family: 'Bitter', sans-serif;
*/	font-size: 1.3em;
	text-align: center;
	color:#C9D6FF;
	padding-top: 2em;
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	color: #000;
	margin-bottom: 0;
	text-align: center;
	width:50em;
	line-height: 150%;
}


nav {
	list-style: none;
	font-size: .8em;
	margin: 0;
    text-transform: uppercase;
    padding: 2em 0;
    float: right;

}

nav a {
	font-family: 'Raleway', sans-serif;
	display: inline-block;
	text-decoration: none;
	font-size: 1.2em;
	margin: 10px;
	
}

a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}


ul {
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
	color: #000;
	float:right;
	margin-right: 1em;
    line-height: 1.5em;
    list-style:inherit;
    padding-top: 3em;
}

footer {
	font-family: 'Raleway', sans-serif;
	font-size: .5em;
	margin: auto;
	background-color: #FF957E;
	padding: 1em;

}

footer p{
	margin: auto;
}

/*#main_image {
	background: url("../images/phone_computer.jpeg");
	background-size: cover;
}*/





.wrapper {
	border: .15em solid black;
	width: 85%;
	margin: auto;
	background-color: #FFF;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


.col-3 {
	width: 29%;
    margin: 1.4em;
	margin-bottom: 3em;
	padding-bottom: 2em;
	float: left;
}

.col-3 p{
	float:left;
	width:100%;

}

#logo {
	width: 9%;
    float: left;
    padding: 1em;
}

#top-half{
	background:url("../images/brickwall_@2X.png") repeat fixed;
/*	background-size: cover;
*//*	background-color: #370e8a;
*/	}

#bottom-half {
	padding-bottom:3em;
}

.col-2{
	float:left;
	width:50%;

}


#phone {
	border: .2em black solid;
	width: 90%;
    margin: 3em;

}
/*#guy_scrolling {
	position: relative;
	border: 3px black solid;
	width: 75%;
	margin-left: 20px;
}

___________________ media queries__________________*/

@media screen only and (max-width: 1210px){

.col-3, .col-3 p {
	float: none;
}

.col-2 {
	float: none;
}

}



/*@media screen only and (min-width: 500px

