@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;

}

h1 {
	font-family: 'Bitter', serif;
	font-size: 3em;
	text-align: center;
	color: #FFF;	

}



h3 {
	font-family: 'Bitter', serif;
	font-size: 1.5em;
	text-align: center;
	color:#C9D6FF;
}

h4{
	font-family: 'Bitter', sans-serif;
	font-size: 20px;
	text-align: center;
	color:#C9D6FF;
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	color: #000;
	margin-bottom: 0;
	text-align: center;
	width:50em;
	line-height: 150%;
}



nav	{
	border: 1px black solid;
	background-color: #e8c66a;
	padding: 20px;
    width: 470px;
    margin: auto;
    word-spacing: .4em;
    text-align: right;
}

nav a {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	text-decoration: none;

}

/*
body {
	margin: auto;
	font-size: 16px;

}*/


ul {
	font-family: 'Raleway', sans-serif;
	color: #000;
}

footer {
	font-family: 'Raleway', sans-serif;
	font-size: .5em;
	text-align: center;
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;

}

/*#main_image {
	background: url("../images/phone_computer.jpeg");
	background-size: cover;
}*/

.wrapper {
	border: 5px solid black;
	width: 1000px;
	margin: auto;
}

#slogan {
	font-family: 'Bitter', sans-serif;
	border:3px solid red;
	width: 786px;
	font-size: 2em;
	font-style: italic;
	text-align: center;
	color: #000;
	padding: .8em 0;

}

.3_col {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;

}

.2_col {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#phone {
	border: 3px black solid;
	width: 300px;
	height: 250px;
	margin-left: 20px;
}

/*---------------->hover link examples<--------------------------
*/
/*a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}*/



